main {
    display: flex; 
    justify-content: center;
    align-items: center;
    font-style: sans-serif;
    gap: 24px;
    border: 2px dashed black;
}
h1{
    display: flex;
    justify-content: center;
}
ul{
    background-color: rgb(241, 235, 229); 
    font: black;
    line-height: 4;
    width: 100px;
}
.testimonial {
    background-color: antiquewhite;
    border-color: black;
    border-width: 2px;
    border-style: double;
}
.brand {
    display: flex;
    justify-content: left;
    font-style: italic, bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 40px;
    
}
nav {
    display: flex; 
    align-items: center;
    gap: 20px;
    text-decoration: none;
    margin-left: 25px;
    color: #222;
    font-weight: bold;
    font-family: helvetica;
    letter-spacing: 1px;
}
header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sidebar{
    display:flex;
    flex-direction:column;
    width:180px;
    height: 500px;
    gap:12px;
}
.sidebar button{
    background:#b5332c;
    color:white;
    border:none;
    gap:12px;
    border-radius:6px;
    font-size:16px;
    text-align:left;
}
a:link {
    color: red;
}
a:visited {
    color: rgb(141, 29, 1);
}
footer{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#333;
    color:white;
    height: 50px;
    gap:20px;
}